@use "sass:color";

// Colors
$color-main: #7c51b8;
$color-light: #dec6ff;
$color-white: #FFFFFF;
$color-grey: #d0d0d0;
$color-black: #000000;
$border-color: #ffffff;

// Fonts
$font-family-base: 'Arial', sans-serif;

// Breakpoints
$breakpoint-md: 768px;

// Participants
$image-size: 300px;